/* CSS Document */

.sbseg-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } 
}

.sbseg-bg {
	background-color: #21376b !important;
	color: #21376b !important;
}

.sbseg-main_image{
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #C04848;  /* fallback for old browsers */
/*    background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("../images/planetario.jpg");   Chrome 10-25, Safari 5.1-6 */
/*    background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("../images/planetario.jpg");  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(rgb(33,55,107,0.7), rgb(24,86,180,0.2)), url("../images/pictures/planetario.jpg");
	background: linear-gradient(rgb(33,55,107,0.7), rgb(31,76,144,0.2)), url("../images/pictures/planetario.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

 h1, h2, h3, h4, h5, h6 {
	color:#004e7a;
	font-family: "Saira", sans-serif;
    font-weight:400;
	 
}

p {
	text-align: justify !important;
}

.sbseg-text-white {
	color: white;
}

.sbseg-footer {
	font-size: 11px;
	color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
	
}

.sbseg-footer a {
	text-decoration: none !important;
	color: rgba(255, 255, 255, 0.5);
}

.sbseg-footer-icons {
	padding: 0px 20px 0px 0px;
}

.sbseg-footer-icons i {
	color: rgba(255, 255, 255, 0.5) !important;
}

.sbseg-body-logos {
	vertical-align: middle;
}

.sbseg-bodo-logos-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sbseg-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.sbseg-palestrante-pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	margin: 20px;
	float: left;
}

.sbseg-pic {
	width: 160px;
	height: 120px;
	border-radius: 5%;
	object-fit: cover;
	margin: 20px;
	float: left;
}

.sbseg-photo {
	background-color: white !important;
	background-clip: border-box;
  	background-origin: padding-box;
  	background-size: auto;
  	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
	-moz-background-clip: border-box;
  	-moz-background-origin: padding-box;
  	-moz-background-size: auto;
  	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
	-webkit-background-clip: border-box;
  	-webkit-background-origin: padding-box;
  	-webkit-background-size: auto;
  	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
  	margin-left: 0px;
  	width:640px; 
  	border: 4px solid white; 
  	border-radius: 4px;	
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

.navbar-dark {
  background: #21376b !important;
  z-index: 3;
  padding: 0;
  -webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34); }
  @media (max-width: 991.98px) {
    .navbar-dark {
      background: #fff;
      position: relative;
      top: 0;
      padding: 10px 15px; } }
  .navbar-dark .navbar-brand {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1; }
    .navbar-dark .navbar-brand span {
      display: block;
      font-size: 12px;
      font-weight: 500; }
    .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
      color: #000; }
    @media (max-width: 767.98px) {
      .navbar-dark .navbar-brand {
        margin-bottom: 20px; } }
  @media (max-width: 991.98px) {
    .navbar-dark .navbar-nav {
      padding-bottom: 10px; } }
  .navbar-dark .navbar-nav > .nav-item > .nav-link {
    font-size: 11px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    opacity: 1 !important; }
    .navbar-dark .navbar-nav > .nav-item > .nav-link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background-color: #204c90;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
      z-index: -1; }
    .navbar-dark .navbar-nav > .nav-item > .nav-link:hover {
      color: rgba(255, 255, 255, 0.5); }
      .navbar-dark .navbar-nav > .nav-item > .nav-link:hover:before {
        visibility: visible;
        background-color: #204c90;
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }
    @media (max-width: 991.98px) {
      .navbar-dark .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: .9rem;
        padding-bottom: .9rem; }
        .navbar-dark .navbar-nav > .nav-item > .nav-link:hover {
          color: #fff; } }
    @media (max-width: 767.98px) {
      .navbar-dark .navbar-nav > .nav-item > .nav-link {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05); } }
  .navbar-dark .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    border-radius: 4px; }
    .navbar-dark .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
      font-size: 12px;
      color: #000; }
      .navbar-dark .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .navbar-dark .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
        background: #204c90;
        color: #fff; }
    @media (max-width: 991.98px) {
      .navbar-dark .navbar-nav > .nav-item .dropdown-menu {
        display: block !important;
        background: #fff;
        -webkit-box-shadow: none;
        box-shadow: none; } }
  .navbar-dark .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #204c90;
    border-radius: 0px; }
    @media (max-width: 767.98px) {
      .navbar-dark .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px; } }
    @media (max-width: 991.98px) {
      .navbar-dark .navbar-nav > .nav-item.cta > a {
        color: #fff;
        background: #204c90;
        border-radius: 4px; } }
  .navbar-dark .navbar-nav > .nav-item.active > a {
    color: rgba(255, 255, 255, 0.5); }
    .navbar-dark .navbar-nav > .nav-item.active > a:before {
      visibility: visible;
      background-color: #204c90;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }
    @media (max-width: 991.98px) {
      .navbar-dark .navbar-nav > .nav-item.active > a {
        color: #000; }
        .navbar-dark .navbar-nav > .nav-item.active > a:before {
          display: none; } }
  .navbar-dark .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
    .navbar-dark .navbar-toggler:focus {
      outline: none !important; }