---
layout: page
title: Supporters
---
<p>
    SBSeg 2022 invites agencies and companies to participate in the event as a patron. To this end, sponsorship
    categories were established defining investment models and guaranteed counterparts. Please contact the general
    chairs sbseg2022@ufsm.br if you need further assistance.
</p>
<hr>
<h3>Our Supporters</h3>
<div class="row mt-5 gy-5 text-center">
    <div class="col-12">{% include supporters.html level="diamond" %}</div>
    <div class="col-12">{% include supporters.html level="gold" %}</div>
    <div class="col-12">{% include supporters.html level="silver" %}</div>
</div>
