<footer class="sbseg-bg">
    <div class="container">
        <div class="row sbseg-footer">
            <div class="col-md-4"><a class="navbar-brand" href="#"><img src="{{ "/images/sbseg.png" | relative_url }}"
                height="74" alt=""/></a></div>
            <div class="col-md-4 ">
                <span class="">Edições Anteriores</span>
                <hr>
                <a href="https://sbseg2021.ufpa.br"> SBSeg 2021 (Belém-PA)</a>
                <br>
                <a href="http://sbseg.sbc.org.br/2020/">SBSeg 2020 (Petrópolis-RJ)</a>
                <br>
                <a href="https://sbseg2019.ime.usp.br/">SBSeg 2019 (São Paulo-SP)</a>
                <br>
                <a href="https://sbseg2018.imd.ufrn.br/">SBSeg 2018 (Natal-RN)</a>
                <br>
                <a href="https://sbseg2017.redes.unb.br/">SBSeg 2017 (Brasília-DF)</a>
                <br>
                <a href="http://sbseg2016.ic.uff.br/">SBSeg 2016 (Niterói-RJ)</a>
                <br>
                <a href="https://siaiap34.univali.br/sbseg2015/">SBSeg 2015 (Florianópolis-SC)</a>
                <br>
                <a href="http://www.sbseg2014.dcc.ufmg.br/">SBSeg 2014 (Belo Horizonte-MG)</a>
                <br>
                <a href="http://sbseg2013.icomp.ufam.edu.br/">SBSeg 2013 (Manaus-AM)</a>
                <br>
                <a href="http://sbseg2012.ppgia.pucpr.br/">SBSeg 2012 (Curitiba-PR)</a>
                <br>
            </div>
            <div class="col-md-4 ">
                <!--
                                      <span class="">Redes Sociais</span>
                                      <hr>
                                      <p class="mb-0 d-flex">
                                        <a href="#" class="sbseg-footer-icons"><span class="fa fa-facebook fa-3x"><i class="sr-only">Facebook</i></span></a>
                                        <a href="#" class="sbseg-footer-icons"><span class="fa fa-twitter fa-3x"><i class="sr-only">Twitter</i></span></a>
                                        <a href="#" class="sbseg-footer-icons"><span class="fa fa-instagram fa-3x"><i class="sr-only">Instagram</i></span></a>
                                      </p>
                                      <br> <br> <br>
                -->
                <span class="">Entre em contato</span>
                <hr>
                <p class="mb-0 d-flex">
                    <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </div>
        </div>
    </div>
</footer>
