<footer class="sbseg-bg">
    <div class="container">
        <div class="row sbseg-footer">
            <div class="col-12 col-lg-auto text-center text-lg-left">
                <a class="navbar-brand" href="#">
                    <img src="/images/sbseg.png" height="74" alt=""/>
                </a>
            </div>
            <div class="col text-center text-lg-left mt-5 mt-lg-0 edicoes-anteriores">
                <div class="text-center w-100">Edições Anteriores</div>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <a href="https://sbseg2021.ufpa.br" target="_blank"> SBSeg 2021 (Belém-PA)</a>
                        <br>
                        <a href="http://sbseg.sbc.org.br/2020/" target="_blank">SBSeg 2020 (Petrópolis-RJ)</a>
                        <br>
                        <a href="https://sbseg2019.ime.usp.br/" target="_blank">SBSeg 2019 (São Paulo-SP)</a>
                        <br>
                        <a href="https://sbseg2018.imd.ufrn.br/" target="_blank">SBSeg 2018 (Natal-RN)</a>
                        <br>
                        <a href="https://sbseg2017.redes.unb.br/" target="_blank">SBSeg 2017 (Brasília-DF)</a>
                        <br>
                        <a href="http://sbseg2016.ic.uff.br/" target="_blank">SBSeg 2016 (Niterói-RJ)</a>
                        <br>
                        <a href="https://siaiap34.univali.br/sbseg2015/" target="_blank">SBSeg 2015 (Florianópolis-SC)</a>
                        <br>
                        <a href="http://www.sbseg2014.dcc.ufmg.br/" target="_blank">SBSeg 2014 (Belo Horizonte-MG)</a>
                        <br>
                        <a href="http://sbseg2013.icomp.ufam.edu.br/" target="_blank">SBSeg 2013 (Manaus-AM)</a>
                        <br>
                        <a href="http://sbseg2012.ppgia.pucpr.br/" target="_blank">SBSeg 2012 (Curitiba-PR)</a>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-auto text-center text-lg-left mt-5 mt-lg-0">
                <div>Redes sociais</div>
                <hr>
                <nav class="social-icons mb-5">
                    <a href="https://www.facebook.com/SBSegSBC/" target="_blank" class="fa-brands fa-facebook nav-link" title="facebook"></a>
                    <a href="https://www.instagram.com/sbseg.sbc/" target="_blank" class="fa-brands fa-instagram nav-link" title="Instagram"></a>
                    <a href="https://twitter.com/sbseg_sbc" target="_blank" class="fa-brands fa-twitter nav-link" title="twitter"></a>
                </nav>
                <div>Entre em contato</div>
                <hr>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </div>
        </div>
    </div>
</footer>
