{% assign language = site.data.header.languages[page.lang] %}
<nav class="navbar navbar-expand-lg navbar-dark sbseg-bg">
    <div class="container">
        <a class="navbar-brand" href="{{ language.index  | relative_url }}"><img src="/images/sbseg.png" height="74" alt=""/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for navitem in site.data.header.headers %}
                    {% if navitem contains page.lang %}
                        {% if navitem.dropdown-items.size > 0 %}
                            <li class="nav-item dropdown">
                                <button class="btn nav-link dropdown-toggle w-100" id="navbar-dropdown-evento" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ navitem[page.lang] }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="navbar-dropdown-evento">
                                    {% for dropdown in navitem.dropdown-items %}
                                        {% if dropdown contains page.lang %}
                                            <a class="dropdown-item" href="{{ dropdown[page.lang].link | relative_url }}">{{ dropdown[page.lang].title }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="btn nav-link" href="{{ navitem[page.lang].link | relative_url }}">{{ navitem[page.lang].title }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="navbar-nav mr-0">
                <li class="nav-item dropdown">
                    <button class="btn nav-link dropdown-toggle w-100" id="navbarDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ language.image | relative_url }}" alt="" width="32" height="32" class="img-fluid"/>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ site.data.header.languages.pt-br.index | relative_url }}"><img src="{{ site.data.header.languages.pt-br.image | relative_url }}" alt="" width="32" height="32" class="img-fluid"/> {{ site.data.header.languages.pt-br.name }}</a>
                        <a class="dropdown-item" href="{{ site.data.header.languages.en.index | relative_url }}"><img src="{{ site.data.header.languages.en.image | relative_url }}" alt="" width="32" height="32" class="img-fluid"/> {{ site.data.header.languages.en.name }}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
