<div class="photo-gallery carousel-with-smaller-images carousel slide" data-ride="carousel" id="{{ include.name }}">
    <div class="carousel-inner">
        {% assign thumbs_path = include.path | append: '/thumbs' %}
        {% assign first_found = false %}
        {% for image in site.static_files %}
            {% if image.path contains include.path %}
                <div class="carousel-item{% unless first_found %} active{% assign first_found = true %}{% assign first_path = image.path %}{% endunless %}" data-href-to-high-quality-version="{{ image.path }}">
                    <img class="d-block vertical-center mh-100 mw-100" src="{{ image.path | replace: include.path, thumbs_path }}"/>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#{{ include.name }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon invert-1" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ include.name }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon invert-1" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<a class="btn btn-primary d-block mt-3 open-high-quality-version" href="{{ first_path }}" target="_blank">Abrir versão ampliada</a>