---
permalink: /artigos.html
layout: page
title: Artigos
---

<div id="articles">
    <p>Lista com artigos aceitos para a <a href="./trilha-principal.html">Trilha Principal</a> do SBSeg 2022.
        A lista com os <a href="#short-articles"> artigos curtos </a>está no fim da página</p>
    <h2 id="sessoes-tecnicas">Sessões Técnicas</h2>
    <hr>
    {% assign ts-by-date = site.data.articles.technical-sessions | group_by: "date" %}
    {% for date-ts in ts-by-date %}
        <div>
            <h3>{{ date-ts.name }}</h3>
            {% for ts in date-ts.items %}
                <div class="row sbseg-bg p-3 text-white text-center rounded no-gutters mb-3">
                    <div class="col-auto">{{ ts.time }}</div>
                    <div class="col">ST{{ ts.number }} - {{ ts.title }}</div>
                </div>
                {% for article in ts.articles %}
                    <div class="mb-3">
                        <div><strong>{{ article.title }}</strong> - ({{ article.modality }})</div>
                        <div>Autor(es):
                            <ul>
                                {% for author in article.authors %}
                                    <li>{{ author }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}

    <h2 id="short-articles" class="mt-5">Artigos Curtos</h2>
    <hr>
    {% for short in site.data.articles.shorts %}
        <div>
            <div class="row sbseg-bg p-3 text-white text-center rounded no-gutters mb-3">
                <div class="col">Exibição de pôsteres - {{ short.date }} - {{ short.time }}</div>
            </div>
            {% for article in short.articles %}
                <div class="mb-3">
                    <div><strong>{{ article.title }}</strong> - ({{ article.modality }})</div>
                    <div>Autor(es):
                        <ul>
                            {% for author in article.authors %}
                                <li>{{ author }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>