---
permalink: /artigos-wticg.html
layout: page
title: Artigos Aceitos no WTICG 2022
---

<h2 id="sessoes-tecnicas">Programação WTICG</h2>
<hr>
{% assign ts-by-date = site.data.articles.witcg | group_by: "date" %}
    {% for date-ts in ts-by-date %}
        <div>
            <h3>{{ date-ts.name }}</h3>
            {% for ts in date-ts.items %}
                <div class="row sbseg-bg p-3 text-white text-center rounded no-gutters mb-3">
                    <div class="col-auto">{{ ts.time }}</div>
                    <div class="col">ST{{ ts.number }} - {{ ts.title }}</div>
                </div>
                {% for article in ts.articles %}
                    <div class="mb-3">
                        <div><strong>{{ article.title }}</strong> - ({{ article.modality }})</div>
                        <div>Autor(es):
                            <ul>
                                {% for author in article.authors %}
                                    <li>{{ author }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}

<div id="articles">
    <p>Lista de artigos aceitos no WTICG 2022. Nesta página você pode conferir a Trilha de Artigos Completos (Full Papers) e a Trilha de Artigos Curtos (Short Papers).</p>
    <h4>Artigos Completos (Full Papers)</h4>
    <ul>
        <li><strong>Análise de segurança em aplicações Web construídas a partir dos frameworks
            Django, Express e Flask</strong></li>
        <p>Autor(es): Rodrigo Brito (Universidade Federal do Piauí - Brazil),
            Carlos André Batista de Carvalho (Universidade Federal do Piauí - Brazil).</p>
        <li><strong>XY-CyberDef: Um Ambiente Integrado de Defesa Cibernética para Apoio à
            Detecção e ao Combate de Comportamentos Maliciosos no Tráfego de Redes
            de Computadores</strong></li>
        <p>Autor(es): Gustavo Testoni (Instituto Militar de Engenharia - Brazil),
            Marcos Paulo Lima Araujo Pereira (Instituto Militar de Engenharia - Brazil),
            Sérgio Silva (Instituto Militar de Engenharia - Brazil),
            Ronaldo Goldschmidt (Instituto Militar de Engenharia - Brazil).</p>
        <li><strong>Sandbox as a Service: automatizando a configuração do Cuckoo Sandbox e a
            geração de dados para análise de malware</strong></li>
        <p>Autor(es): Guilherme Figueiredo (Universidade Federal de Uberlândia - Brazil),
            Renan Cattelan (Universidade Federal de Uberlândia - Brazil),
            Rodrigo Miani (Universidade Federal de Uberlândia - Brazil).</p>
        <li><strong>Avaliação de requisitos de processamento e memória do algoritmo de
            criptografia pós-quântica SABER em plataforma ARM Cortex-M0+</strong></li>
        <p>Autor(es): George Gigilas Junior (Universidade Estadual de Campinas - Brazil),
            Marco Aurelio Amaral Henriques (FEEC - Unicamp - Brazil).</p>
        <li><strong>Análise de viabilidade de implantação de sistema de autenticação híbrido
            baseado em Identidades Digitais Federadas e Identidades Digitais
            Descentralizadas</strong></li>
        <p>Autor(es): Raquel Leite (State University of Campinas (UNICAMP) - Brazil),
            Marco Aurelio Amaral Henriques (FEEC - Unicamp - Brazil).</p>
        <li><strong>DevSecOps - integração da segurança contínua em pipelines DevOps: um
            estudo de caso
            </strong></li>
        <p>Autor(es): Rafael França (Instituto Federal Fluminense - Brazil),
            Vinicius Barcelos da Silva (Instituto Federal Fluminense - Brazil).</p>
        <li><strong>Sistema de Votação Eletrônica baseado em Assinatura Cega e BigchainDB</strong></li>
        <p>Autor(es): Leonardo Pinto Guilherme (CEFET/RJ - Brazil),
            Luis Silva (CEFET-RJ - Brazil),
            Nilson Lazarin (CEFET/RJ UnED Nova Friburgo - Brazil).</p>
    </ul>

    <h4>Artigos Curtos (Short Papers)</h4>
    <ul>
        <li><strong>A Vote Tallying System Based on Computer Vision
        </strong></li>
        <p>Autor(es): Julio Rodrigues (Federal University of São João del-Rei - Brazil),
            Charles Figueredo de Barros (Federal University of São João del Rei - Brazil),
            Paulo Victor Sousa (Federal University of São João del Rei - Brazil).</p>
        <li><strong>Entendimento do Controle de TAGs nas Redes Sociais</strong></li>
        <p>Autor(es): Natanael Pereira (Instituto Federal de Educação, Ciência e Tecnologia Goiano - Campus Ceres - Brazil), Laura Alves (Instituto Federal Goiano - Brazil), Regina Paiva Melo Marin ( Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Brazil).
            </p>
        <li><strong>Utilização de Animações para Comparação de Hashes em Votação Eletrônica
            via Internet</strong></li>
        <p>Autor(es): Jessica Sato (IME - USP - Brazil),
            Jorge Ribeiro (USP - Brazil),
            Roberto Samarone Araujo (Universidade Federal do Pará - Brazil),
            José Coelho (IME - Universidade de São Paulo - Brazil),
            Daniel Batista (IME - USP - Brazil).</p>
        <li><strong>Solução integrada para análise e monitoramento de redes empresariais</strong></li>
        <p>Autor(es): Mateus Soares (Universidade Federal do Pampa - Brazil),
            Marcelo Cordeiro (UNIPAMPA - Brazil),
            Gabriel Haab (Microchip Technology - USA),
            Erico Amaral (Universidade Federal do Pampa - Unipampa - Brazil).</p>
        <li><strong>Demonstração Experimental de Vulnerabilidades em Dispositivos Internet das
            Coisas</strong></li>
        <p>Autor(es): Raphael L. C. Nascimento (Centro de Informática - Universidade Federal da Paraíba - Brazil),
            Ryan M. S. Leal (Centro de Informática - Universidade Federal da Paraíba - Brazil),
            Iguatemi E. Fonseca (Universidade Federal da Paraíba - Brazil).</p>
        <li><strong>Uma proposta para avaliação de confiança em redes VANETs
        </strong></li>
        <p>Autor(es): Eduardo Pandini (Universidade Estadual de Santa Catarina - Brazil),
            Fernando Matos (Federal University of Paraíba - Brazil),
            Aldri dos Santos (Universidade Federal de Minas Gerais - Brazil),
            Adriano Fiorese (UDESC - Brazil).</p>
    </ul>
</div>
