---
layout: page
permalink: /chamada-wgid.html
title: Workshop de Gestão de Identidades Digitais (WGID)
---

<h3>Apresentação</h3>

<p>
    A gestão de identidades (Identity Management - IdM ou Identity and Access Management - IAM) se faz necessária para
    serviços federados, serviços nas nuvens e até mesmo para tecnologias distribuídas como a blockchain. Trata-se de um
    sistema integrado de políticas, processos e tecnologias que permitem às organizações o tratamento e a manipulação de
    identidades de seus usuários e de seus dispositivos em procedimentos de autenticação, autorização, contabilização e
    auditoria.
</p>

<p>
    Este é um tema de pesquisa ativo que continua a receber atenção de provedores de serviços, por exemplo, para
    garantir a proteção dos recursos que esses oferecem, e de usuários, por exemplo, para garantir sua privacidade.
    Pesquisas e práticas na gestão de identidades devem considerar pontos muitas vezes conflitantes, como: facilidade de
    uso, mecanismos de autenticação robustos, privacidade e anonimato do usuário, segurança, autenticação única e
    autenticação contínua, escalabilidade, controle de acesso de granularidade fina, interoperabilidade e custo total de
    propriedade (total cost of ownership).
</p>

<p>
    O XII Workshop de Gestão de Identidades Digitais (WGID) visa ser um fórum para reunir pesquisadores e interessados
    na área para discussões e apresentações técnicas de trabalhos em torno do estado da arte, metodologias e tecnologias
    relacionadas com a gestão de identidades. Além disso, é muito bem vinda a exposição de ideias e trabalhos em
    andamento, bem como o compartilhamento de experiências práticas, sejam essas positivas ou negativas.
</p>

<h3>Tópicos de Interesse</h3>
<ul>
    <li>Acesso móvel federado e certificação móvel</li>
    <li>Aspectos legais, éticos e sócio econômicos do uso de Identidades Digitais</li>
    <li>Auditoria</li>
    <li>Autenticação (multi-fator, SSO, de dispositivos, serviços e aplicações, etc)</li>
    <li>Certificação digital</li>
    <li>Ciclo de vida de identidades digitais</li>
    <li>Controle de acesso</li>
    <li>Desenvolvimento de aplicações usando infraestrutura de A&A provida por federações</li>
    <li>Escalabilidade em sistemas de GID</li>
    <li>Federações de redes acadêmicas</li>
    <li>Ferramentas para gestão, monitoramento de federações</li>
    <li>Gestão de confiança</li>
    <li>Gestão de Atributos</li>
    <li>Gestão de identidade (federada, centrada no usuário)</li>
    <li>Gestão de identidade e Cloud Computing</li>
    <li>Gestão de identidade e Governo Eletrônico</li>
    <li>Gestão de identidade e Internet das Coisas</li>
    <li>Identidade Digital Descentralizada</li>
    <li>Interoperabilidade entre sistemas de GID</li>
    <li>Métodos criptográficos para GID</li>
    <li>Níveis de garantia (Level of Assurance) em GID</li>
    <li>Proteção de Dados Pessoais e GID</li>
    <li>Privacidade, anonimato e pseudônimos em sistemas de GID</li>
    <li>Protocolos de autenticação e autorização</li>
    <li>Redes Sociais e sistemas de GID</li>
    <li>Técnicas de prevenção contra fraudes e roubo de identidade</li>
    <li>Usabilidade em tecnologias de GID</li>
</ul>

<div class="jumbotron text-left datas-importantes">
    <h2 class="text-center mb-5">Datas importantes</h2>
    <div class="d-flex">
        <div class="col">
            <ul>
                <li><p><strong>Registro de artigos: </strong>1 de Agosto de 2022</p></li>
                <li><p><strong>Submissão de artigos: </strong>1 de Agosto de 2022</p></li>
                <li><p><strong>Notificação aos autores: </strong>22 de Agosto de 2022</p></li>
            </ul>
        </div>
    </div>
</div>

<h3>Instruções aos Autores</h3>

<p>
    Nesta edição do XII WGID, serão aceitos contribuições em duas categorias:
</p>

<p>
    Resumos estendidos (até 4 páginas): um resumo pode descrever desafios de pesquisa derivados de problemas práticos,
    casos de sucesso/falhas relatando benefícios/obstáculos e lições aprendidas, estudos práticos com evidências
    empíricas, relato do uso de métodos, técnicas e ferramentas inovadoras ou visão de futuro (tecnológico e científico)
    em relação à gestão de identidade.
</p>
<p>
    Palestras curtas (20 minutos): um resumo de até duas páginas que apresente a proposta de palestra que poderá ser
    sobre assuntos teóricos ou práticos atuais ligados à área de gestão de identidade (ver tópicos de interesse).
</p>


<p>
    Os resumos podem ser escritos em português ou inglês; sua formatação deve seguir o modelo da SBC para publicação de
    artigos, disponível no portal da SBC (só é necessário o resumo ou o abstract). A submissão de artigos será feita
    exclusivamente em formato PDF, por meio do sistema <a href="https://submissoes.sbc.org.br/home.cgi?c=4098" target="_blank">JEMS</a> da SBC:
</p>

<p>
    As contribuições submetidas serão avaliadas pelos membros do comitê de programa e as selecionadas serão organizadas
    para apresentação durante o WGID. Os resumos aceitos não serão publicados nos anais do SBSeg, mas serão publicados
    na página do evento.
</p>

<p>
    Como essa edição do SBSeg/WGID será no formato hibrido, os autores de resumos estendidos aceitos poderão gravar
    previamente um vídeo (de até 10 min) com a sua apresentação. Este vídeo será exibido durante a sessão técnica no dia
    do evento, porém o autor também deverá estar presente no dia para responder perguntas da plateia do WGID. As
    palestras aceitas deverão ser apresentadas ao vivo pelo autor em uma sessão de até 20 minutos.
</p>

<h3>Comitê De Programa</h3>

<p>
    Em formação
</p>


<h3>Comitê de Organização</h3>
<hr>

<h5>Coordenação do XII WGID</h5>
{% include staff-cards.html staff="jean-martina, emerson-ribeiro" %}
<br>

<h5>Coordenação Geral do SBSeg 2022 </h5>
{% include staff-cards.html staff="carlos-raniery, walter-filho" %}

