---
permalink: /patrocinadores.html
layout: page
title: Patrocinadores
---
<p>O SBSeg 2022 convida agências e empresas a participar do evento como patrocinadores. Para isso, foram
    estabelecidas categorias de patrocínio que definem modelos de investimento e contrapartidas asseguradas. Favor,
    entrar em contato com os organizadores gerais através do email sbseg2022@ufsm.br</p>
<hr>
<h3>Nossos patrocinadores</h3>
<div class="row mt-5 gy-5 text-center">
    <div class="col-12">{% include supporters.html level="diamond" %}</div>
    <div class="col-12">{% include supporters.html level="gold" %}</div>
    <div class="col-12">{% include supporters.html level="silver" %}</div>
    <div class="col-12">{% include supporters.html level="bronze" %}</div>
</div>
