---
permalink: /programação-salao-ferramentas.html
layout: page
title: Programação do salão de ferramentas SBSEG 2022
---
<div id="articles">
    {% assign sf-by-date = site.data.articles.salao-de-ferramentas | group_by: "date" %}
    {% for date-sf in sf-by-date %}
        <div>
            <h3>{{ date-sf.name }}</h3>
            {% for sf in date-sf.items %}
                <div class="row sbseg-bg p-3 text-white text-center rounded no-gutters mb-3">
                    <div class="col-auto">{{ sf.time }}</div>
                    <div class="col">{{ sf.title }}</div>
                </div>
                {% for article in sf.articles %}
                    <div class="mb-3">
                        <div><strong>{{ article.title }}</strong></div>
                        <div>Autor(es):
                            <ul>
                                {% for author in article.authors %}
                                    <li>{{ author }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
