<!DOCTYPE html>
<html lang="{{ page.lang }}">

{%- include head.html -%}

<body class="d-flex flex-column min-vh-100">

{%- include header.html -%}

<main class="page-content flex-grow-1" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

{%- include footer.html -%}

</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-3.4.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap-4.4.1.js"></script>
{% if page.search %}
<!-- Search engine -->
<script src="/js/fuse.js"></script>
<script src="/js/search.js"></script>
{% endif %}
</html>
